.container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 5px; /* espacio entre items*/
    justify-content: center;
}


.item {
    background-color: aliceblue;
    border: 1px solid black;
    text-align: center;
    width: 100px;
    height: 100px;

}